header {
  width: 100wh;
}

header div,
header span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.contenedorLogo {
  height: 20vh;
  width: 100%;
  /*background-color: #c94cffc7;*/
  background-color: #173668;
  display: flex;
}

.contenedorLogo .contendorLogoComSafe {
  height: 100%;
  width: auto;
  display: flex;
}
.contenedorLogo .contendorLogoComSafe img {
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  padding: 10px 0px;
}

.checkResponsive {
  display: none;
}

.contenedorBotonesMenuResponsive {
  height: 20vh;
}

.contenedorBotonesMenuResponsive .botonMenuResponsive01 {
  display: none;
}

.contenedorBotonesMenuResponsive .botonMenuResponsive02 {
  display: none;
}
.contenedorBotonesMenuResponsive img {
  object-fit: cover;
  height: 100%;

  pointer-events: none;
}

.contenedorMenuPrincipal {
  color: #ffffff;
  height: 10vh;
  width: 100%;
  background-color: #173668;
  transition: ease-in 1s background-color;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.MenuPegajoso {
  background-color: rgba(23, 54, 104, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: ease-in 1s background-color;
}

.MenuPegajosoAjustePagina {
  margin-top: 10vh;
  background-color: #173668;
}

.AjusteMenu {
  background-color: #173668;
  height: 10vh;
  display: none;
}

.contenedorMenuPrincipal ul {
  transition: ease-in 1s background-color;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contenedorMenuPrincipal ul li {
  height: 100%;
  border: transparent solid 1px;
  transition: ease-in 400ms background-color, border 600ms;
}

.contenedorMenuPrincipal ul li a {
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0px 20px;
  font-weight: bolder;
}

.contenedorMenuPrincipal ul li:hover {
  border: #ffffff solid 1px;
  background-color: #770c81;
}

.contenedorMenuPrincipal ul li:hover a {
  color: #ffffff;
  font-weight: bolder;
}


@media screen and (max-width: 1280px) {
  /*Parte del header */
  header {
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10000;
  }

  .contenedorLogo {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
  }

  .contendorLogoComSafe {
    padding: 5px 10px;
  }

  .contenedorBotonesMenuResponsive {
    height: 100%;
    display: flex;
  }

  .contenedorBotonesMenuResponsive label {
    height: 100%;
  }

  .contenedorBotonesMenuResponsive .botonMenuResponsive01 {
    height: 100%;
    display: flex;
    transition: ease-in 0.75s all;
  }

  .contenedorBotonesMenuResponsive .botonMenuResponsive02 {
    height: 100%;
    transition: ease-in 0.75s all;
  }

  .contenedorBotonesMenuResponsive img {
    object-fit: cover;
    height: 60%;
    pointer-events: none;
    /*outline: solid red 2px;*/
  }

  /*Parte del Menu Principal*/
  .contenedorMenuPrincipal {
    position: fixed;
    outline: solid red 2px;
    top: 15vh;
    z-index: 10000;
    background-color: rgba(45, 136, 255, 0.611);
    height: 85vh;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: ease-in 0.75s all;
  }

  .contenedorMenuPrincipal ul {
    flex-direction: column;
  }

  .contenedorMenuPrincipal ul li {
    outline: rgba(18, 65, 194, 0.473) solid 2px;
    width: 100%;
  }

  .AjusteMenu {
    display: inline-block;
    height: 14vh;
    outline: solid GREEN 2px;
  }

  .contenedorMenuPrincipalActivo {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    transition: ease-in 0.75s all;
  }

  .checkBoxiconActivo {
    display: flex;
  }
  .checkBoxiconInactivo {
    display: none;
  }
  /*
  #check:checked ~ ul {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    transition: ease-in 1s all;
  }
  */
}
