

body{
    background-color: #F0F5FF;

}



.fondo-blanco{
    background-color: white;
    border-radius: 1rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div2 { grid-area: 1 / 1 / 9 / 8; }