label {
  cursor: pointer;
  font-weight: bolder;
}

.fomulario__input__input {
  display: flex;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 4px solid transparent;
}

.fomulario__input__input input {
  border: 0;
  outline: none;
  color: #000000;
  border: 4px solid transparent;
}

.fomulario__input__input input:focus {
  border: 4px solid #214ee2;
  outline: none;
}

.form-group input:focus {
  border: 4px solid #214ee2;
  outline: none;
}

.fomulario__input__input:focus {
  border: 4px solid red;
}

.fomulario__input__error {
  outline: #141313 solid 4px;
  background-color: rgb(126, 15, 1);
  color: #ffffff;
  text-align: center;
  height: auto;
  margin: 0;
  font-size: 15px;
  position: relative;
  left: 10px;
  width: 95%;
  border-radius: 50px;
  padding: 10px 10px;
  margin-bottom: 20px;
  display: none;
}

.formulario__mensaje {
  background-color: #c78409;
  text-align: center;
  border-radius: 5px;
  display: none;
}

.formulario__mensaje-exito {
  background-color: #09c738;
  text-align: center;
  border-radius: 5px;
  font-weight: bolder;
  display: none;
}

.formulario__validacion-estado {
  color: #bb2929;
  opacity: 0;
}

.formulario__validacion-estado {
  margin-left: 10px;
  display: flex;
  align-items: center;
  /*opacity: 0;*/
}

.correcto input,
.form-group input {
  border: 4px solid #000000;
}

.incorrecto {
  color: #bb2929;
}

#enviar {
  pointer-events: none;
}
