.contenedorTarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tarjeta {
  outline: solid red 1px;
  box-shadow: 10px 10px 5px #aaaaaa;
  /*margin: 0 10px;*/
}

.tarjeta img {
  object-fit: cover;
}

.col-md-4 {
  display: flex;
}

.tarjeta02 {
  border: solid red 2px;
  background-color: rgb(228, 181, 110);
  border-radius: 40px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 20px;
}

.col-md-4 img {
  object-fit: cover;
  border-radius: 40px;
}
